<% title "Wymagania funkcjonalne" %>
<p>
	<div id="pokaz_kompozycje">
		<h2><%= link_to "Prezentacja dzia³ania", "#", :id => "toogle_tutorial", :style => "text-decoration:none; color: #000000;" %></h2>
		<div id="tutorial" style="text-align:center;"></div>
	</div>
</p>
<p>
	Nazwa: <%= @sla.name %>
</p>
<p>
	Xml:<br>
	<%= h(@sla.content) %>
</p>

<%= javascript_tag("
     $j(document).ready(function() {
        $j('#tutorial').hide();
		new Ajax.Updater('tutorial', '/pages/get_photo/0/Show_SLA', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('r4Zxnv4m0jgTfZpMqpoj44hFkzxsmNd/8rRcGbkfoVw=')})
        $j('a#toogle_tutorial').click(function() {
		$j('#tutorial').slideToggle(400);
		  return false;
        });
      });
") %>