<p>
	
</p>
<table class="table">
  <tr class="tr">
  	<th class="th">Nazwa parametru</th>
    <th class="th">>Wartość</th>
    <th class="th">>Widoczność w kreatorze</th>
  </tr>
  <tr class="tr">
  	<td class="td">Maksymalna liczba wersji usług</td>
    <td class="td"><input value="5"></input></td>
    <td class="td" style="text-align:center;"><input type="radio" name="visability_max_version_number" value="visible">Widoczny
		<input type="radio" name="visability_max_version_number" value="hidden">Ukryty
	</td>
  </tr>
    <tr class="tr">
  	<td class="td">Liczba poszukiwanych planów sąsiednich</td>
    <td class="td"><input value="5"></input></td>
    <td class="td" style="text-align:center;"><input type="radio" name="visability_neighbour_plan_number" value="visible">Widoczny
		<input type="radio" name="visability_neighbour_plan_number" value="hidden">Ukryty</td>
  </tr>
    <tr class="tr">
  	<td class="td">Liczba powtórzeń kroku</td>
    <td class="td"><input value="5"></input></td>
    <td class="td" style="text-align:center;"><input type="radio" name="visability_iteration_number" value="visible">Widoczny
		<input type="radio" name="visability_iteration_number" value="hidden">Ukryty</td>
  </tr>
    <tr class="tr">
  	<td class="td">Stopień podobieństwa</td>
    <td class="td"><input value="5"></input></td>
    <td class="td" style="text-align:center;"><input type="radio" name="visability_similarity_value" value="visible">Widoczny
		<input type="radio" name="visability_similarity_value" value="hidden">Ukryty</td>
  </tr>
    <tr class="tr">
  	<td class="td">Algorytm doboru usług</td>
    <td class="td">
    	<select>
  			<option value="volvo">filtr exact match (oryginalny)</option>
  			<option value="saab">filtr plug-in match (oryginalny)</option>
  			<option value="mercedes">filtr exact match (dokładny)</option>
  			<option value="audi">filtr plug-in match (dokładny)</option>
			<option value="audi">filtr exact match (przybliżony)</option>
			<option value="audi">filtr plug-in match (przybliżony)</option>
		</select></td>
    <td class="td" style="text-align:center;"><input type="radio" name="visability_algorithm" value="visible">Widoczny
		<input type="radio" name="visability_algorithm" value="hidden">Ukryty</td>
  </tr>
</table>