<h4>What Atomic SMART SERVICES were used</h4>
<p style="font-style:italic;">
		(hover over any Atomic SS to see its brief description;<br>
		click to see more information about the atomic service)
</p>


    <ul>
    <li>service1</li>
    <li>service2</li>
    <ul>
	    <li>Structure composition</li>
        <li>Scenario selection</li>
        <li>Semantic plugin match filter</li>
        <li>Branch and bound optimization algorithm</li>
        <li>Security quality criterion</li>
        <li>Time quality criterion</li>
	</ul>
    <li>service3</li>
    <li>service4</li>
	</ul>
