<h3>Result:</h3>
<div style="margin-left: 0.1em; font-style:italic; font-weight:bold;">Outputs:</div>
<ul>
<% @result.each do |k, v| %>
	<li style="font-style:italic;"><%= "#{k}: #{v}" %></li>
<% end %>
</ul>