<hr/>
Opinia o usłudze:
<ul>
<% opinion_flag = @experiment.ocena_bezpieczenstwa.include?("<?xml version=\"1.0\" encoding=\"UTF-8\"?>")%>
<li>Belief: <%= opinion_flag ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["belief"] : " " %></li>
<li>Disbelief: <%= opinion_flag ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["disbelief"] : " " %></li>
<li>Uncertainty: <%= opinion_flag ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["uncertainty"] : " " %></li>
</ul>
