<hr/>
Opinia o usłudze:
<ul>
<li>Belief: <%= @experiment.ocena_bezpieczenstwa ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["belief"] : " " %></li>
<li>Disbelief: <%= @experiment.ocena_bezpieczenstwa ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["disbelief"] : " " %></li>
<li>Uncertainty: <%= @experiment.ocena_bezpieczenstwa ? Hash.from_xml(@experiment.ocena_bezpieczenstwa)["opinion"]["uncertainty"] : " " %></li>
</ul>
