<h3 style="text-align:center;">List of concepts and relations</h3>
<p style="font-style:italic;">
		
(hover over any concept or relation to see its brief description;

click to see more details)
</p>
		
 
<h5>List of concepts:</h5>

<ul>
    <li>ontology1</li>
    <li>ontology2</li>
	<ul>
        <li>concept1</li>
        <li>concept2</li>
        <li>concept3</li>
    </ul>
	<li>ontology3</li>
    <li>ontology4</li>
</ul>
<hr>
<h5>List of relations:</h5>
<ul>
    <li>ontology1</li>
    <li>ontology2</li>
        <li>relation1</li>
        <li>relation2</li>
        <li>relation3</li>
    <li>ontology3</li>
    <li>ontology4</li>
</ul>