<h3 style="text-align:center;">Information about ontologies:</h3>
<h5>How can I create an ontology from scratch?</h5>
<ul>
    <li>use the editor to add concepts and bind them togheter with relations</li>
    <li>use various relations but start with is_a relation</li>
    <li>You can import concepts from repositories (yours or public)</li>
    <li>You can import relations from other ontologies</li>
</ul>